// Настройки стилей по умолчанию
html {
	&[gameTheme='NordDark'] {	
	--errors-handling-notify--background: rgb(255, 102, 102);
	--mchat-notify--background: #4C566A;
	--mchat-notify--title--color: #ECEFF4;
	--mchat-notify--message--color: #ECEFF4;

	// Переиспользуемые переменные
	--v-primary-base: #ECEFF4;
	--v-secondary-base: #2E3440;

	--h1--color: #ECEFF4;
	--font-color--color: #ECEFF4;

	--v-app-bar--background: #3B4252; // Navigation.vue

	--v-card--background: #3B4252;

	--v-btn--hover--background: #434C5E;
	--v-btn--background: #3B4252;

	--v-expansion-panel__header--background: #3B4252;
	--v-expansion-panel__content--background: #2E3440;

	--v-navigation-drawer--background: #2E3440;
	--v-navigation-drawer--border-left: 3px solid #3B4252;

// Модальные окна повышенного внимания (важные)
	--important-modal__header--background: #BF616A;
	--important-modal__button--background: #BF616A;

	--v-tooltip--background: #4C566A;

	--v-input--switch: #88C0D0;


// App.vue
	--v-layout--background: #242933;
	--Page--background: #2E3440;
	--Page--color: #ECEFF4;
	--Page--border: 3px solid #3B4252;
	--Page-element--background: #2E3440;
	--Page-element--color: #ECEFF4;
	
// Settings.vue
	--settings-v-list-item--background: #3B4252;

// Saves.vue
	--saves--v-list--background: #2E3440;
	--saves--saves-list--border-top: 2px solid #3B4252;
	--saves--saves-list--border-bottom: 2px solid #3B4252;

	--saves--restart-game-btn--color: rgb(255, 102, 102);
	--saves--save-to-disk-btn--color: rgb(126, 193, 255);
	--saves--load-from-disk-btn--color: rgb(255, 254, 173);
	--saves--delete-all-saves-btn--color: rgb(255, 102, 102);

	--savesList--overwrite-btn--color: rgb(126, 193, 255);
	--savesList--load-btn--color: rgb(255, 254, 173);
	--savesList--delete-btn--color: rgb(255, 102, 102);

	--save-notify--save--background: rgb(157,222,255);
	--save-notify--load--background: rgb(255, 254, 173);
	--save-notify--delete--background: rgb(255, 102, 102);

// RadialMenu.vue
	--RadialMenu--main-btn--background: transparent;
	--RadialMenu--main-btn--color: #88C0D0;
	--RadialMenu--btns--background: transparent;
	--RadialMenu--btns--color: #88C0D0;

// FirstLaunchPageInfo
	--FirstLaunchPageInfo--continue-button--background: #BF616A;
	--v-chip--background: #5E81AC;

	--subscribe-star--color: #BF616A;
	--discord--color: #5E81AC;
	--tfgames--color: #81A1C1;
	--f95--color: #BF616A;
	--f95-zone--color: #fff;
	}
	&[gameTheme='NordLight'] {	
	}
}

// Сообственные стили

.iziToast:after {
	box-shadow: none; // отключение тени
}

.emoji-test {
	height: 24px;
}

.mchat-notify {
	background-color: var(--mchat-notify--background) !important;
	min-width: 25%;
	max-width: 25%;

	&__container {
		display: flex;
	}
	&__message-container {
		display: flex;
		flex-direction: column;

		padding-left: 10px;
		&__title {
			color: var(--mchat-notify--title--color);
			font-weight: 700;  
		}
		&__message {
			padding-top: 3px;
			p {
				color: var(--mchat-notify--message--color);
				font-size: 0.950em;
				line-height: 1.350em;
				opacity: .850;
	
				// Ограчение текста в 2 строки с троеточием в конце
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			&__emoji {
				height: 18px;
				vertical-align: -.2em;
				padding: 0 .05em 0 .1em;
			}		
			&__image {
				max-height: 96px;
				border-radius: 4px;
			}
		}
	}
	&__avatar {
		border-radius: 50%;
		height: 3.8em;
	}

	.iziToast-body {
		padding: 0px 0px 0px 0px !important;
		.iziToast-texts {
			margin: 0px 0px 0px 0px;		
			.iziToast-message {
			margin: 0px 0px 0px 0px !important;
			}
		}
	}
}

.save-notify {
	&__save {
		background-color: var(--save-notify--save--background) !important;
	}
	&__load {
		background-color: var(--save-notify--load--background) !important;
	}
	&__delete {
		background-color: var(--save-notify--delete--background) !important;
	}
}

.errors-handling-notify {
	background-color: var(--errors-handling-notify--background) !important;
}


// Переопределяем глобальные стили Vuetify

.v-btn {
  background: var(--v-btn--background) !important;
}

.v-btn:hover {
  background: var(--v-btn--hover--background) !important;
}

.v-navigation-drawer__border {
	width: 0px !important;
}

.v-card {
  background: var(--v-card--background) !important;
}

.v-expansion-panel {
	background: var(--v-expansion-panel__header--background) !important;
}
.v-expansion-panel-content {
	background: var(--v-expansion-panel__content--background) !important;
}
.v-expansion-panel-content__wrap {
  padding: 0px 0px 0px 0px !important;
}

.v-input--switch__thumb.theme--dark.primary--text {
	color: var(--v-input--switch) !important;
}
.v-input--switch__track.theme--dark.primary--text {
	color: var(--v-input--switch) !important;
}

.v-slider__thumb-label {
  background-color: #eceff4 !important;
	color: #2E3440 !important;
	font-size: 14px !important;
}

.v-tooltip__content {
  background: var(--v-tooltip--background) !important;
}

// Иконки fontAwesome (svg)

.svg-inline--fa {
	font-size: 24px; // размер иконки
}	


@import '~vuetify/src/styles/styles.sass';
@media #{map-get($display-breakpoints, 'xs-only')} {
	.mchat-notify {
		max-width: 100%;
		min-width: 100%;
	}
}
