@import './game/notificationSystem.scss';
@import './game/Saves.scss';

// Настройки стилей по умолчанию
html {
	&[gameTheme='NordDark'] {	
	// Переиспользуемые переменные
	--v-primary-base: #ECEFF4;
	--v-secondary-base: #2E3440;

	--h1--color: #ECEFF4;
	--font-color--color: #ECEFF4;

	--v-app-bar--background: #3B4252; // Navigation.vue

	--v-card--background: #3B4252;

	--v-btn--hover--background: #434C5E;
	--v-btn--background: #3B4252;

	--v-expansion-panel__header--background: #3B4252;
	--v-expansion-panel__content--background: #2E3440;

	--v-navigation-drawer--background: #2E3440;
	--v-navigation-drawer--border-left: 3px solid #3B4252;

// Модальные окна повышенного внимания (важные)
	--important-modal__header--background: #BF616A;
	--important-modal__button--background: #BF616A;

	--v-tooltip--background: #4C566A;

	--v-input--switch: #88C0D0;


// App.vue
	--v-layout--background: #242933;
	--Page--background: #2E3440;
	--Page--color: #ECEFF4;
	--Page--border: 3px solid #3B4252;
	--Page-element--background: #2E3440;
	--Page-element--color: #ECEFF4;
	
// Settings.vue
	--settings-v-list-item--background: #3B4252;

// RadialMenu.vue
	--RadialMenu--btn_hover--background: #88c0d015;
	--RadialMenu--btn--background: transparent;
	--RadialMenu--btn--color: #88C0D0;

// FirstLaunchPageInfo
	--FirstLaunchPageInfo--continue-button--background: #BF616A;
	--v-chip--background: #5E81AC;

	--subscribe-star--color: #BF616A;
	--discord--color: #5E81AC;
	--tfgames--color: #81A1C1;
	--f95--color: #BF616A;
	--f95-zone--color: #fff;
	}
	&[gameTheme='NordLight'] {}
}

// Переопределяем глобальные стили Vuetify

.v-btn {
  background: var(--v-btn--background) !important;
}

.v-btn:hover {
  background: var(--v-btn--hover--background) !important;
}

.v-navigation-drawer__border {
	width: 0px !important;
}

.v-card {
  background: var(--v-card--background) !important;
}

.v-expansion-panel {
	background: var(--v-expansion-panel__header--background) !important;
}
.v-expansion-panel-content {
	background: var(--v-expansion-panel__content--background) !important;
}
.v-expansion-panel-content__wrap {
  padding: 0px 0px 0px 0px !important;
}

.v-input--switch__thumb.theme--dark.primary--text {
	color: var(--v-input--switch) !important;
}
.v-input--switch__track.theme--dark.primary--text {
	color: var(--v-input--switch) !important;
}

.v-slider__thumb-label {
  background-color: #eceff4 !important;
	color: #2E3440 !important;
	font-size: 14px !important;
}

.v-tooltip__content {
  background: var(--v-tooltip--background) !important;
}

// Иконки fontAwesome (svg)

.svg-inline--fa {
	font-size: 24px; // размер иконки
}	

@import '~vuetify/src/styles/styles.sass';
@media #{map-get($display-breakpoints, 'xs-only')} {
	.mchat-notify {
		max-width: 100%;
		min-width: 100%;
	}
}
