// https://habr.com/ru/post/466587/?mobile=yes
// Переключение темы: document.documentElement.setAttribute('mChatTheme', 'Minimalistic')
html {
  --vbtn--size: calc(var(--mChatWidth) / 100 * 13);
	--vbtn-icon--fontSize: calc(var(--mChatFontSize) / 100 * 110);
	&[mChatTheme='Minimalistic'] {	
		// Страница ср списком контактов
		--chat-list--background: #fff;
		--chat-list__bar--background: #fff;
		--chat-list__vlist--background: #fff;
		--chat-list__vlist-item--background: #fff;
		--chat-list__vlist-item--margin-bttom: 0px;
		--chat-list__palette-menu--hover--background: #f5f5f5;
		--chat-list__vlist--chat__avatar__badge--border: 2px solid #ffffff;
		--chat-list__vlist--chat__avatar__badge--box-shadow: 0 0 12px #37addf;
		--chat-list__vlist--chat__title--color: #4c4c4c;
		--chat-list__vlist--chat__title--font-weight: 700;
		--chat-list__vlist--chat__subtitle--color: #6d6d6d;
		--chat-list__vlist--chat__subtitle-icon--color: #818181;
		--chat-list__bar__nav-btn--color: #37addf;
		--chat-list__bar__palette-btn--color: #37addf;
		--chat-list__bar__search_btn--color: #37addf;
		--chat-list__v-btn--background: transparent;
		--chat-list__palette-menu--background: #fff;
		--chat-list__palette-menu-font--color: #4c4c4c;
		--chat-list__vlist--chat__badge--color: #37addf;
		--chat-list__vlist--chat__badge--background: #e8e8e8;
		--chat-list__vlist--chat__badge--font-size: 0.775em;
		--chat-list__vlist--chat__badge--font-weight: 700;
		--chat-list__vlist--chat__badge--border-radius: 4px;
		--chat-list__vlist--chat__badge--width: calc(var(--mChatWidth) / 100 * 7.7);
		--chat-list__vlist--chat__badge--height: calc(var(--mChatWidth) / 100 * 7.7);
		// Чат
		--message-list-toolbar__v-btn--background: transparent;
		--message-list--bar--background-color: #fff;
		--message-list--bar__title--color: #606060;
		--message-list--bar__title--font-weight: 400;
		--message-list--bar__back-btn--color: #37addf;
		--message-list--bar__phone-btn--color: #37addf;
		--message-list--bar__video-btn--color: #37addf;
		--message-list--bar__ellipsis-btn--color: #37addf;
		--virtual-list--background: #fff;
		--text-message__from_me--color: #fff;
		--text-message__from_me--background: #00bfe4;
		--text-message__from_me__tail--color: #00bfe4;
		--text-message__from_them--color: black;
		--text-message__from_them--background: #eee;
		--text-message__from_them__tail--color: #eee;
		--message-system--background: #dedede;
		--message-system--color: black;
		--message-meta--color: black;
		--suggestions-element--border: 1px solid #37addf;
		--suggestions-element--color: #37addf;
		--suggestions-element--background: transparent;
		--typing-indicator__span--background: #9E9EA1;
		// --plyr--audio--color: black;
		// Панель ввода
		--input-area--background: #fff;
		--input-area__text-input--background: #edf0f7;
		--input-area__text-input--color: #9c9d9d;
		--input-area__text-input__blink-caret: .15em solid #37addf;
		--input-area__text-input__blink-caret--color: #37addf;
		// Элементы панели ввода
		--input-area-smile-icon--font-size: 1.275em;
		--input-area-smile-icon--left: 93%;
		--input-area-smile-icon--color: #9c9d9d;
		--input-area-smile-icon--background: none;
		--input-area-paperclip-icon--left: 110%;
		--input-area-paperclip-icon--width: 11%;
		--input-area-paperclip-icon--fill: #37addf;
		--input-area-paperclip-icon--background: none;
		--input-area-plus-icon--left: calc(var(--mChatWidth) / 100 * 2.5);
		--input-area-plus-icon--width: calc(var(--mChatFontSize) / 100 * 150);
		--input-area-plus-icon--height: calc(var(--mChatFontSize) / 100 * 150);
		--input-area-plus-icon--border-radius: 40%;
		--input-area-plus-icon--color: #37addf;
		--input-area-plus-icon--background: #d9dade;
		--input-area-send-icon--left: 125%;
		--input-area-send-icon--width: 11%;
		--input-area-send-icon--fill: #37addf;
	};
	&[mChatTheme='Dark-Minimalistic'] {
		// Страница ср списком контактов
		--chat-list--background: #242933;
		--chat-list__bar--background: #242933;
		--chat-list__vlist--background: transparent;
		--chat-list__vlist-item--background: #2E3440;
		--chat-list__palette-menu--hover--background: #3B4252;
		--chat-list__vlist--chat__avatar__badge--border: 2px solid #2E3440;
		--chat-list__vlist--chat__avatar__badge--box-shadow: 0 0 12px #88c0d0;
		--chat-list__vlist--chat__title--color: #ECEFF4;
		--chat-list__vlist--chat__title--font-weight: 700;
		--chat-list__vlist--chat__subtitle--color: #869cac;
		--chat-list__vlist--chat__subtitle-icon--color: #869cac;
		--chat-list__bar__nav-btn--color: #fff;
		--chat-list__bar__palette-btn--color: #fff;
		--chat-list__bar__search_btn--color: #fff;
		--chat-list__v-btn--background: transparent;
		--chat-list__palette-menu--background: #242933;
		--chat-list__palette-menu-font--color: #ECEFF4;
		--chat-list__vlist--chat__badge--color: #88c0d0;
		--chat-list__vlist--chat__badge--background: #434C5E;
		--chat-list__vlist--chat__badge--font-size: 0.775em;
		--chat-list__vlist--chat__badge--font-weight: 700;
		--chat-list__vlist--chat__badge--border-radius: 4px;
		--chat-list__vlist--chat__badge--width: calc(var(--mChatWidth) / 100 * 7.7);
		--chat-list__vlist--chat__badge--height: calc(var(--mChatWidth) / 100 * 7.7);
		// Чат
		--message-list-toolbar__v-btn--background: transparent;
		--message-list--bar--background-color: #242933;
		--message-list--bar__title--color: #ECEFF4;
		--message-list--bar__title--font-weight: 400;
		--message-list--bar__back-btn--color: #fff;
		--message-list--bar__phone-btn--color: #fff;
		--message-list--bar__video-btn--color: #fff;
		--message-list--bar__ellipsis-btn--color: #fff;
		--virtual-list--background: #242933;
		--text-message__from_me--color: #ECEFF4;
		--text-message__from_me--background: #5E81AC;
		--text-message__from_me__tail--color: #5E81AC;
		--text-message__from_them--color: #ECEFF4;
		--text-message__from_them--background: #3B4252;
		--text-message__from_them__tail--color: #3B4252;
		--message-system--background: #3B4252;
		--message-system--color: #ECEFF4;
		--message-meta__system--color: #ECEFF4;
		--message-meta--color: #ECEFF4;
		--suggestions-element--border: 1px solid #81A1C1;
		--suggestions-element--color: #81A1C1;
		--suggestions-element--background: transparent;
		--typing-indicator__span--background: #9E9EA1;
		--plyr--audio--color: #fff;
		// Панель ввода
		--input-area--background: #242933;
		--input-area__text-input--background: #2E3440;
		--input-area__text-input--color: #9c9d9d;
		--input-area__text-input__blink-caret: .15em solid #88C0D0;
		--input-area__text-input__blink-caret--color: #88C0D0;
		// Элементы панели ввода
		--input-area-smile-icon--font-size: 1.275em;
		--input-area-smile-icon--left: 93%;
		--input-area-smile-icon--color: #9c9d9d;
		--input-area-smile-icon--background: none;
		--input-area-paperclip-icon--left: 110%;
		--input-area-paperclip-icon--width: 11%;
		--input-area-paperclip-icon--fill: #88C0D0;
		--input-area-paperclip-icon--background: none;
		--input-area-plus-icon--left: calc(var(--mChatWidth) / 100 * 2.5);
		--input-area-plus-icon--width: calc(var(--mChatFontSize) / 100 * 150);
		--input-area-plus-icon--height: calc(var(--mChatFontSize) / 100 * 150);
		--input-area-plus-icon--border-radius: 40%;
		--input-area-plus-icon--color: #88C0D0;
		--input-area-plus-icon--background: #3B4252;
		--input-area-send-icon--left: 125%;
		--input-area-send-icon--width: 11%;
		--input-area-send-icon--fill: #88C0D0;
	}
};

.plyr--audio .plyr__controls {
	background: transparent !important;
	padding: 0px 0px 0px 0px !important;
	color: var(--plyr--audio--color);
}
