// https://habr.com/ru/post/466587/?mobile=yes
// Переключение темы: document.documentElement.setAttribute('mChatTheme', 'Minimalistic')
html {
	&[mChatTheme='Minimalistic'] {	
		// Страница ср списком контактов
		--chat-list--background: #fff;
		--chat-list__bar--background: #fff;
		--chat-list__vlist--background: #fff;
		--chat-list__vlist-item--background: #fff;
		--chat-list__vlist-item--margin-bttom: 0px;
		--chat-list__palette-menu--hover--background: #f5f5f5;
		--chat-list__vlist--chat__avatar__badge--border: 2px solid #ffffff;
		--chat-list__vlist--chat__avatar__badge--box-shadow: 0 0 12px #37addf;
		--chat-list__vlist--chat__title--color: #4c4c4c;
		--chat-list__vlist--chat__title--font-weight: 700;
		--chat-list__vlist--chat__subtitle--color: #6d6d6d;
		--chat-list__vlist--chat__subtitle-icon--color: #818181;
		--chat-list__bar__nav-btn--color: #37addf;
		--chat-list__bar__palette-btn--color: #37addf;
		--chat-list__bar__search_btn--color: #37addf;
		--chat-list__v-btn--background: transparent;
		--chat-list__palette-menu--background: #fff;
		--chat-list__palette-menu-font--color: #4c4c4c;
		--chat-list__vlist--chat__badge--color: #37addf;
		--chat-list__vlist--chat__badge--background: #e8e8e8;
		--chat-list__vlist--chat__badge--font-size: 0.750em;
		--chat-list__vlist--chat__badge--font-weight: 700;
		--chat-list__vlist--chat__badge--border-radius: 4px;
		--chat-list__vlist--chat__badge--width: calc(var(--mChatWidth) / 100 * 7.7);
		--chat-list__vlist--chat__badge--height: calc(var(--mChatWidth) / 100 * 7.7);
		// Чат
		--message-list-toolbar__v-btn--background: transparent;
		--message-list--bar--background-color: #fff;
		--message-list--bar__title--color: #606060;
		--message-list--bar__title--font-weight: 400;
		--message-list--bar__back-btn--color: #37addf;
		--message-list--bar__phone-btn--color: #37addf;
		--message-list--bar__video-btn--color: #37addf;
		--message-list--bar__ellipsis-btn--color: #37addf;
		--message-list--background: #fff;
		--from_me_msg_font: #fff;
		--from_me_msg_bg: #00bfe4;
		--from_me_tail_color: #00bfe4;
		--from_them_msg_font: black;
		--from_them_msg_bg: #eee;
		--from_them_tail_color: #eee;
		--message-system--background: #dedede;
		--message-system--color: black;
		--message-meta--color: black;
		--suggestions-element--border: 1px solid #37addf;
		--suggestions-element--color: #37addf;
		--suggestions-element--background: transparent;
		--typing-indicator__span--background: #9E9EA1;
		// --plyr--audio--color: black;
		// Панель ввода
		--inputArea--background: #fff;
		--inputArea__text-input--width: 250px;
		--inputArea__text-input--height: 50px;
		--inputArea__text-input--border-radius: 17px;
		--inputArea__text-input--padding-left: 50px;
		--inputArea__text-input--background: #edf0f7;
		--inputArea__text-input--color: #9c9d9d;
		// Элементы панели ввода
		--inputArea-smile-icon--left: 217px;
		--inputArea-smile-icon--bottom: 18px;
		--inputArea-smile-icon--color: #9c9d9d;
		--inputArea-smile-icon--background: none;
		--inputArea-paperclip-icon--left: 217px;
		--inputArea-paperclip-icon--bottom: 18px;
		--inputArea-paperclip-icon--color: #37addf;
		--inputArea-paperclip-icon--background: none;
		--inputArea-plus-icon--left: 10px;
		--inputArea-plus-icon--bottom: 15px;
		--inputArea-plus-icon--width: 30px;
		--inputArea-plus-icon--height: 30px;
		--inputArea-plus-icon--border-radius: 8px;
		--inputArea-plus-icon--color: #37addf;
		--inputArea-plus-icon--background: #d9dade;
		--inputArea-send-icon--left: 295px;
		--inputArea-send-icon--bottom: 18px;
		--inputArea-send-icon--width: 24px;
		--inputArea-send-icon--color: #37addf;
		--inputArea-microphone-icon--left: 262px;
		--inputArea-microphone-icon--bottom: 18px;
		--inputArea-microphone-icon--width: 18px;
		--inputArea-microphone-icon--color: #37addf;
	};
	&[mChatTheme='Dark-Minimalistic'] {
		// Страница ср списком контактов
		--chat-list--background: #242933;
		--chat-list__bar--background: transparent;
		--chat-list__vlist--background: transparent;
		--chat-list__vlist-item--background: #2E3440;
		--chat-list__palette-menu--hover--background: #3B4252;
		--chat-list__vlist--chat__avatar__badge--border: 2px solid #2E3440;
		--chat-list__vlist--chat__avatar__badge--box-shadow: 0 0 12px #88c0d0;
		--chat-list__vlist--chat__title--color: #ECEFF4;
		--chat-list__vlist--chat__title--font-weight: 700;
		--chat-list__vlist--chat__subtitle--color: #869cac;
		--chat-list__vlist--chat__subtitle-icon--color: #869cac;
		--chat-list__bar__nav-btn--color: #fff;
		--chat-list__bar__palette-btn--color: #fff;
		--chat-list__bar__search_btn--color: #fff;
		--chat-list__v-btn--background: transparent;
		--chat-list__palette-menu--background: #242933;
		--chat-list__palette-menu-font--color: #ECEFF4;
		--chat-list__vlist--chat__badge--color: #88c0d0;
		--chat-list__vlist--chat__badge--background: #434C5E;
		--chat-list__vlist--chat__badge--font-size: 14px;
		--chat-list__vlist--chat__badge--font-weight: 700;
		--chat-list__vlist--chat__badge--border-radius: 4px;
		--chat-list__vlist--chat__badge--width: calc(var(--mChatWidth) / 100 * 7.7);
		--chat-list__vlist--chat__badge--height: calc(var(--mChatWidth) / 100 * 7.7);
		// Чат
		--message-list-toolbar__v-btn--background: transparent;
		--message-list--bar--background-color: #242933;
		--message-list--bar__title--color: #ECEFF4;
		--message-list--bar__title--font-weight: 400;
		--message-list--bar__back-btn--color: #fff;
		--message-list--bar__phone-btn--color: #fff;
		--message-list--bar__video-btn--color: #fff;
		--message-list--bar__ellipsis-btn--color: #fff;
		--message-list--background: #242933;
		--from_me_msg_font: #ECEFF4;
		--from_me_msg_bg: #5E81AC;
		--from_me_tail_color: #5E81AC;
		--from_them_msg_font: #ECEFF4;
		--from_them_msg_bg: #3B4252;
		--from_them_tail_color: #3B4252;
		--message-system--background: #3B4252;
		--message-system--color: #ECEFF4;
		--message-system-meta--color: #ECEFF4;
		--message-meta--color: #ECEFF4;
		--suggestions-element--border: 1px solid #81A1C1;
		--suggestions-element--color: #81A1C1;
		--suggestions-element--background: transparent;
		--typing-indicator__span--background: #9E9EA1;
		--plyr--audio--color: #fff;
		// Панель ввода
		--inputArea--background: #242933;
		--inputArea__text-input--width: 250px;
		--inputArea__text-input--height: 50px;
		--inputArea__text-input--border-radius: 17px;
		--inputArea__text-input--padding-left: 50px;
		--inputArea__text-input--background: #2E3440;
		--inputArea__text-input--color: #9c9d9d;
		// Элементы панели ввода
		--inputArea-smile-icon--left: 217px;
		--inputArea-smile-icon--bottom: 18px;
		--inputArea-smile-icon--color: #9c9d9d;
		--inputArea-smile-icon--background: none;
		--inputArea-paperclip-icon--left: 217px;
		--inputArea-paperclip-icon--bottom: 18px;
		--inputArea-paperclip-icon--color: #88C0D0;
		--inputArea-paperclip-icon--background: none;
		--inputArea-plus-icon--left: 10px;
		--inputArea-plus-icon--bottom: 15px;
		--inputArea-plus-icon--width: 30px;
		--inputArea-plus-icon--height: 30px;
		--inputArea-plus-icon--border-radius: 8px;
		--inputArea-plus-icon--color: #88C0D0;
		--inputArea-plus-icon--background: #3B4252;
		--inputArea-send-icon--left: 295px;
		--inputArea-send-icon--bottom: 18px;
		--inputArea-send-icon--width: 24px;
		--inputArea-send-icon--color: #88C0D0;
		--inputArea-microphone-icon--left: 262px;
		--inputArea-microphone-icon--bottom: 18px;
		--inputArea-microphone-icon--width: 18px;
		--inputArea-microphone-icon--color: #88C0D0;
	}
};

.plyr--audio .plyr__controls {
  background: transparent !important;
  color: var(--plyr--audio--color);
}

.plyr__controls__item.plyr__control {
	color: var(--plyr--audio--color);
}

.plyr__controls__item.plyr__time--current.plyr__time {
	color: var(--plyr--audio--color);
}