html {
	&[mChatTheme='Minimalistic'] {	
		--text-message__from_me--color: #fff;
		--text-message__from_me--background: #00bfe4;
		--text-message__from_me__tail--color: #00bfe4;
		--text-message__from_them--color: black;
		--text-message__from_them--background: #eee;
		--text-message__from_them__tail--color: #eee;
		--typing-message__span--background: #9E9EA1;
		--audio-message__plyr-audio--color: black;
		--suggestions__element--border: 1px solid #37addf;
		--suggestions__element--color: #37addf;
		--suggestions__element--background: transparent;
	};
	&[mChatTheme='Dark-Minimalistic'] {
		--text-message__from_me--color: #ECEFF4;
		--text-message__from_me--background: #5E81AC;
		--text-message__from_me__tail--color: #5E81AC;
		--text-message__from_them--color: #ECEFF4;
		--text-message__from_them--background: #3B4252;
		--text-message__from_them__tail--color: #3B4252;
		--typing-message__span--background: #9E9EA1;
		--audio-message__plyr-audio--color: #fff;
		--suggestions__element--border: 1px solid #81A1C1;
		--suggestions__element--color: #81A1C1;
		--suggestions__element--background: transparent;
  }
};

.plyr--audio .plyr__controls {
	background: transparent !important;
	padding: 0px 0px 0px 0px !important;
	color: var(--audio-message__plyr-audio--color);
}