// Настройки по умолчанию
:root {
	// Список контактов
  --contacts-page--background: #fff; // цвет списка контактов
	--contacts-page__bar--background: #fff; // цвет бара
	--contacts-page__vlist--background: #fff;
	--contacts-page__vlist-item--background: #fff;
	--contacts-page__vlist-item--margin-bottom: 0px;
	--contacts-page__palette-menu--hover--background: #f5f5f5;
	--chat-list__vlist--chat__avatar__badge--border: 2px solid #ffffff;
	--chat-list__vlist--chat__avatar__badge--box-shadow: 0 0 12px #37addf;
	--contacts-page__vlist--chat__title--color: #4c4c4c; // Заголовок контакта в списке контактов
	--contacts-page__vlist--chat__title--font-weight: 700;
	--contacts-page__vlist--chat__subtitle--color: #6d6d6d; // Последнее сообщение контакта
	--contacts-page__vlist--chat__subtitle-icon--color: #818181; // Цвет иконки аудио/видео соодержания сообщения
	--contacts-page__bar__nav-btn--color: #37addf;
	--contacts-page__bar__palette-btn--color: #37addf;
	--contacts-page__bar__search_btn--color: #37addf;
	--contacts-page__v-btn--background: transparent;
	--contacts-page__palette-menu--background: #fff;
	--contacts-page__palette-menu-font--color: #4c4c4c;
	--contacts-page__vlist--chat__badge--color: #37addf;
	--contacts-page__vlist--chat__badge--background: #e8e8e8;
	--contacts-page__vlist--chat__badge--font-size: 14px;
	--contacts-page__vlist--chat__badge--font-weight: 700;
	--contacts-page__vlist--chat__badge--border-radius: 4px;
	--contacts-page__vlist--chat__badge--width: 26px;
	--contacts-page__vlist--chat__badge--height: 26px;
	// Чат
	--message-list--bar--background-color: transparent; // цвет бара
	--message-list--bar__title--color: #606060;
	--message-list--bar__title--font-weight: 400;
	--message-list--bar__back-btn--color: #37addf;
	--message-list--bar__phone-btn--color: #37addf;
	--message-list--bar__video-btn--color: #37addf;
	--message-list--bar__ellipsis-btn--color: #37addf;
	--virtual-list--background: #fff;
	--text-message__from_me--color: #fff;
	--text-message__from_me--background: #00bfe4;
	--text-message__from_me__tail--color: #00bfe4;
	--text-message__from_them--color: black;
	--text-message__from_them--background: #eee;
	--text-message__from_them__tail--color: #eee;
	--message-system--background: #dedede;
	--message-system--color: black;
	--message-meta__system--color: black;
	--message-meta--color: black;
	--suggestions-element--border: 1px solid #37addf;
	--suggestions-element--color: #37addf;
	--suggestions-element--background: transparent;
	--typing-indicator__span--background: #9E9EA1; // Цвет точек
	--plyr--audio--color: black;
	// Панель ввода
	--input-area--background: transparent;
	--input-area__text-input--width: 250px;
	--input-area__text-input--height: 50px;
	--input-area__text-input--border-radius: 17px;
	--input-area__text-input--padding-left: 50px;
	--input-area__text-input--background: #edf0f7;
	--input-area__text-input--color: #9c9d9d;
	// Элементы панели ввода
	--input-area-smile-icon--left: 217px;
	--input-area-smile-icon--bottom: 18px;
	--input-area-smile-icon--color: #9c9d9d;
	--input-area-smile-icon--background: none;
	--input-area-paperclip-icon--left: 217px;
	--input-area-paperclip-icon--bottom: 18px;
	--input-area-paperclip-icon--fill: #37addf;
	--input-area-paperclip-icon--background: none;
	--input-area-plus-icon--left: 10px;
	--input-area-plus-icon--bottom: 15px;
	--input-area-plus-icon--width: 30px;
	--input-area-plus-icon--height: 30px;
	--input-area-plus-icon--border-radius: 8px;
	--input-area-plus-icon--color: #37addf;
	--input-area-plus-icon--background: #d9dade;
	--input-area-send-icon--left: 295px;
	--input-area-send-icon--bottom: 18px;
	--input-area-send-icon--width: 18px;
	--input-area-send-icon--fill: #37addf;
	--input-area-microphone-icon--left: 262px;
	--input-area-microphone-icon--bottom: 18px;
	--input-area-microphone-icon--width: 18px;
	--input-area-microphone-icon--color: #37addf;
}

// === //

// Чат //

.badge {
    color: var(--contacts-page__vlist--chat__badge--color) !important;
    background-color: var(--contacts-page__vlist--chat__badge--background) !important;
    font-size: var(--contacts-page__vlist--chat__badge--font-size) !important;
    font-weight: var(--contacts-page__vlist--chat__badge--font-weight) !important;
    border-radius: var(--contacts-page__vlist--chat__badge--border-radius) !important;
    width: var(--contacts-page__vlist--chat__badge--width) !important;
    height: var(--contacts-page__vlist--chat__badge--height) !important;
    margin-bottom: 22px;
}

